.card {
    border: none;
    padding-left: 150px;
    padding-top: 150px;
}

header {
 margin-top: 50px;
 margin-bottom: 50px;
}

footer {

    height: 25px;
    background-color: #f3f3f3;
    color:gray;
    margin-top: 40px;

}


.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px; 
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  
  .flip-card-back {
    background-color: #f3f3f3;
    color: gray;
    transform: rotateY(180deg);
  }