body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: #79b9bd;
  background: linear-gradient(253deg, #79b9bd, #1ab757);
  display: grid;
  align-items: center;
  overflow: hidden;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4em;
  }

}